
/* ------------------------ VARIABLES ------------------------ */

:root {

    /* --- GENERAL --- */

    --master-size: 26px;
    --text-max-width: 36em;

    /* --- GENERAL COLORS --- */

    --foreground: #fcfcfc;
    --default-reading: #f8e1b5;
    --default-other-readings: #bccfff; /* dodgerblue-like */
    --divider: #727272;
    --information: #818181;
    --background-secondary: #3b3b3b;

    /* cool colors: aquamarine yellow 27a6dd */

    /* --- ACCENT COLORS --- */

    --accent-primary: #37e3b2;
    --accent-secondary: var(--foreground);

    /* --- INDICATOR COLORS --- */

    --indicator-new: #3772ff;
    --indicator-preview: var(--accent-primary);

    /* --- NOTE COLORS --- */

    --notes-simple: lightslategray;
    --notes-definition-expression: lightseagreen;
    --notes-definition-reading: lemonchiffon;
    --notes-definition-meaning: mediumaquamarine;
    --notes-definition-furigana: var(--accent-secondary);

    /* --- ERROR COLORS --- */

    --error-field: red;
    --error-super: #ff2c2c;

    /* --- TYPE COLORS --- */

    --location: #21A0A0;
    --family: #7950f6;
    --person: #f74e37;
}

/* ------------------------ MAIN ------------------------ */

* {
    /* border: 0.05em dotted white; */
    box-sizing: border-box;
}

.card {
    margin-top: 0.8em;
    margin-bottom: 0.8em;

    /* offsets scrollbar width, big brain stuff */
    padding-left: calc(100vw - 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Noto Sans JP", "Hiragino Sans", "Kosugi Maru", "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: var(--master-size);
    color: var(--foreground);

    /* centers wrapped text in long fields, dont remove */
    text-align: center;
}

/* ------------------------ EXPRESSION ------------------------ */

.expressionContainer {
    position: relative;
    font-size: 260%;
}

.expression {
    line-height: 1em;
}

@media DISABLED {
    /* uncomment for expression with furigana layout */

    .expression {
        display: flex;
        align-items: flex-end;
        height: 1.8em;
    }

    .expression rt {
        user-select: none;
        color: var(--accent-primary);
    }
}

/* ------------------------ LINK HIGHLIGHTING ------------------------ */

.expression a, .reading a, .sentence a {
    color: inherit;
    text-decoration: none;
}

.expression a:hover {
    box-shadow: inset 0 -.5em 0 0 var(--accent-primary) !important;
    /* !important for minimalist anki */
}

.reading a:hover {
    box-shadow: inset 0 -.5em 0 0 var(--accent-secondary) !important;
    /* !important for minimalist anki */
}

/* ------------------------ INDICATOR ------------------------ */

.indicator {
    position: absolute;

    bottom: 0.5em;
    left: -0.46em;
    height: 0.27em;
    width: 0.27em;

    border-radius: 50%;
    display: none;
}

.visibleIndicator {
    display: block;
}

.indicatorNew {
    background-color: var(--indicator-new);
}

.indicatorPreview {
    background-color: var(--indicator-preview);
}

/* ------------------------ HINT ------------------------ */

.hint {
    max-width: 30em;
    line-height: 1.45em;
}

.hint {
    --font-variation: 0em;

    --standard-top-margin: 0.2em;
    --total-margin: 0.4em;

    --top-margin: calc(var(--standard-top-margin) + var(--font-variation));

    margin-top: var(--top-margin);
    margin-bottom: calc(var(--total-margin) - var(--top-margin));
}

.hint:empty {
    display: none;
}

/* ------------------------ EXPRESSION HIGHLIGHT ------------------------ */

.hint b {
    text-decoration-color: var(--accent-primary);

    font-weight: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.25em;
}

.container:not(:has(.pitch.reading)) .sentence b {
    text-decoration-color: var(--accent-primary);

    font-weight: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.25em;
}

/* ------------------------ HELPER ------------------------ */

.divider {
    width: calc(100% - 4em);
    height: 0.12em;
    background-color: var(--divider);
    margin: 0.4em 0;
    border-radius: 1em;
}

/* ------------------------ BAR ------------------------ */

.bar {
    margin-top: -0.1em;
    /* font-size: 180%;
    font-weight: 600; */
    /* color: var(--default-reading); */

    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */

    width: 16em;
    height: 0.4rem;
}

.bgLocation {
    background-color: var(--location);
}

.bgFamily {
    background-color: var(--family);
}

.bgPerson {
    background-color: var(--person);
}

/* ------------------------ MAIN READING ------------------------ */

.reading {
    margin-top: -0.14em;
    font-size: 180%;
    font-weight: 600;
    color: var(--default-reading);
}

.fgLocation {
    color: var(--location);
}

.fgFamily {
    color: var(--family);
}

.fgPerson {
    color: var(--person);
}

/* ------------------------ OTHER READINGS ------------------------ */

.otherReadings {
    max-width: var(--text-max-width);
    font-size: 130%;
    line-height: 1.45em;
    font-weight: 600;
    color: var(--default-other-readings);
}

.otherReadings {
    --font-variation: 0em;

    --standard-top-margin: 0.25em;
    --total-margin: 0.4em;

    --top-margin: calc(var(--standard-top-margin) + var(--font-variation));

    margin-top: var(--top-margin);
    margin-bottom: calc(var(--total-margin) - var(--top-margin));
}

.otherReadings > span:not(:last-child) {
    margin-right: 0.6em;
}

/* ------------------------ TYPES ------------------------ */

.types {
    margin-top: -0.2em;
    margin-bottom: 0.3em;
    color: var(--notes-simple);

    font-size: 90%;
}

.types > span:not(:last-child) {
    margin-right: 0.6em;
}

.noTypes {
    display: none;
}

.typeLocation {
    color: color-mix(in lab, var(--notes-simple), var(--location) 20%);
}

.typeFamily {
    color: color-mix(in lab, var(--notes-simple), var(--family) 20%);
}

.typePerson {
    color: color-mix(in lab, var(--notes-simple), var(--person) 20%);
}

/* ------------------------ NOTES ------------------------ */

.notes {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.notes:empty {
    display: none;
}

.noteSimpleSection {
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    color: var(--notes-simple);
}

/* ------------------------ IMAGE ------------------------ */

.image img {
    min-height: 6em;
    max-width: min(27em, 70vw);
    max-height: min(16em, 100vh - 17em);
    border-radius: 0.3em;
    /* border: 0.08em solid black; */

    /* WHEN font-size: 20px; */
    /* max-width: min(33em, 70vw);
    max-height: min(18.5em, 100vh - 17em); */
}

.image:empty {
    /* we become a grey line if no image :D */
    background-color: var(--divider);
    width: 20em;
    height: 0.2em;
    border-radius: 1em;
}

.image:hover {
    cursor: pointer;
}

/* ------------------------ SENTENCE ------------------------ */

.sentence {
    max-width: var(--text-max-width);
    font-size: 80%;
    /* line-height: 1.45em; */
    text-align: left;
    font-family: "Hiragino Sans", sans-serif;
    color: hsl(0, 0%, 80%)
}

.sentence {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.sentence > p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.audio {
    display: flex;
    justify-content: center;
}

/* ------------------------ ERROR ------------------------ */

.errorField,
.errorField * {
    color: var(--error-field) !important;
}

.superError,
.superError * {
    color: var(--error-super) !important;
}

/* ------------------------ FONTS ------------------------ */

@font-face {
    font-family: 'ACKaisyoRiver';
    src: local('ackaisyo');
    ascent-override: 93%;
    descent-override: 6%;
    line-gap-override: 45%;
}

.font-notosans {
    font-family: 'Noto Sans JP', sans-serif;
}

.font-ackaisyo {
    font-family: 'ACKaisyoRiver', sans-serif;
}

.font-hiraginosans {
    font-family: 'Hiragino Sans', sans-serif;
}

.font-hiraginomincho {
    font-family: 'Hiragino Mincho ProN', serif;
}

.font-hiraginominchobold {
    font-family: 'Hiragino Mincho ProN', serif;
    font-weight: 600;
}

.font-yumincho {
    font-family: 'YuMincho', serif;
    font-weight: 600;
}

/* .font-banana {
    font-family: 'ArmedBanana', sans-serif;
} */

/* --- FONT NORMALIZING --- */

/* -- HIRAGINO -- */

.definitionExpression:is(.font-hiraginosans, .font-hiraginomincho, .font-hiraginominchobold) {
    line-height: 175%;
}

.definitionMeaning.japanese:is(.font-hiraginosans, .font-hiraginomincho, .font-hiraginominchobold) {
    line-height: 100%;
}

:is(.hint, .otherReadings, .sentence):is(.font-hiraginosans, .font-hiraginomincho, .font-hiraginominchobold) {
    --font-variation: 0.08em;
}

/* -- ACKAISYO -- */

:is(.hint, .otherReadings, .sentence).font-ackaisyo {
    --font-variation: -0.03em;
}

/* -- YUMINCHO -- */

:is(.hint, .otherReadings, .sentence).font-yumincho {
    --font-variation: 0.08em;
}

/* ------------------------ HIDDEN MENU ------------------------ */

.hiddenMenu {
    --item-width: 2;
    --item-height: 4;

    --item-size: 2.2em;
    --item-radius: 0.4em;
    --gap: 0.3em;
    --inner-padding: 1.2em;
    --outer-padding: 1em;

    position: fixed;
    top: 0;
    right: 0;

    --padding-total: calc(var(--inner-padding) + var(--outer-padding));
    --item-width-total: var(--item-size) * var(--item-width) + var(--gap) * (var(--item-width) - 1);
    --item-height-total: var(--item-size) * var(--item-height) + var(--gap) * (var(--item-height) - 1);

    padding: var(--outer-padding) var(--outer-padding) var(--inner-padding) var(--inner-padding);

    width: calc(var(--padding-total) + var(--item-width-total));
    height: calc(var(--padding-total) + var(--item-height-total));

    border-bottom-left-radius: 2em;
    overflow: clip;

    display: flex;
    flex-direction: row-reverse;

    background-color: var(--background-secondary);
    opacity: 0;
}

.hiddenMenu:hover {
    opacity: 1;
}

.linkContainer {
    /* width: auto;
    height: 8em; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    gap: var(--gap);

    /* background-color: rgba(255, 82, 82, 0.3); */
}

.linkContainer a {
    width: var(--item-size);
    height: var(--item-size);
    border-radius: var(--item-radius);
    opacity: 0.5;
}

.linkContainer a:hover {
    opacity: 1;
}

.immersionkitLink {
    order: 0;
    background-color: yellow;
}

.jpdbLink {
    order: 1;
    background-color: teal;
}

.massifLink {
    order: 2;
    background-color: #ec464f;
}

.wikipediaLink {
    order: 3;
    background-color: #ffffff;
}

.weblioLink {
    order: 4;
    background-color: royalblue;
}

.ojadLink {
    order: 5;
    background-color: orange;
}

.youglishLink {
    order: 6;
    background-color: #af85f4;
}

.cycleFontButton {
    order: 7;
    background-color: #6cbf43;
    cursor: pointer;
}

/* ------------------------ INFORMATION ------------------------ */

.container:not(:has(.hiddenMenu:hover)) .informationContainer {
    /* hide if not hovering hidden menu */
    display: none;
}

.informationContainer {
    position: fixed;
    bottom: 0;
    right: 0;

    padding-top: 0.2em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-top-left-radius: 0.4em;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: var(--background-secondary);
}

.informationContainer div {
    color: var(--information);
    font-size: 72%;
}

.informationContainer .event-bloodmoon {
    color: rgba(235, 57, 45, 0.7);
}

.informationContainer .event-holiday {
    color: rgba(100, 148, 237, 0.8); /* cornflowerblue */
}